<div class="container">
    <div style="margin-top:3%">
        <div class="row">
            <div class="col-md-3 left-nav">
                <div class="tech-setting-left-nav-div">
                        <div  class="tech-setting-left-nav">
                                <div class="technical-ins-div">
                                        <span class="technical-ins-text"> Technical Instructions </span>
                                </div>
                                <div class="ct-technical-ins-details-div">
                                    <gepm-tech-setting-left-nav-nm [leftNavigationData]='leftNavData' 
                                                                   (selectedScan)="updateSelectedScan($event)">

                                    </gepm-tech-setting-left-nav-nm>
                                </div>
                        </div>
                </div>
            </div>
            <div class="col-md-9">
                <gepm-tech-setting-middle-section-nm [middleSectionData]='scanData' >

                </gepm-tech-setting-middle-section-nm>
            </div>
            
        </div>
    </div>
</div>