<div *ngFor="let scan of middleSectionData.view; let accordionIndex=index;" class="accordion" id="accordionExample">
        <div class="mt-1">
          <div (click)="expandAccordion(accordionIndex)" class="panel-header" id="accordion_heading_{{accordionIndex}}">
              <button [ngClass]="selectedAccordionIndex !== accordionIndex ? 'collapsed' : ''" class="round-corner btn-block text-left" type="button" data-toggle="collapse" 
                data-target="#accordion_{{accordionIndex}}" aria-expanded="true" aria-controls="collapseOne">
                {{scan.name}}
              </button>
          </div>
      
          <div id="accordion_{{accordionIndex}}" 
               [ngClass]="selectedAccordionIndex === accordionIndex ? 'show' : ''" class="collapse" 
               aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="col-sm-3 details">
                <table *ngFor="let collection of scan.collection; let collectionIndex=index;">
                    <caption class="table-caption">{{collection.name}}</caption>
                    <tr *ngFor="let attribute of collection.attributeList">
                        <td><span>{{attribute.name}}</span></td>
                        <td><span>{{attribute.value}}</span></td>
                    </tr>
                </table>
            </div>
          </div>
        </div> 
</div>