<div class="col-md-9">
    <div class="accordion" id="accordionExample">
        <div>
          <div class="panel-header" id="headingOne">
              <button class="round-corner btn-block text-left" type="button" data-toggle="collapse" 
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <!-- <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span> -->
                Key Parameters
              </button>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="col-sm-3 details">
              <table class="table">
                <caption class="table-caption">Detector Settings</caption>
                <tr >
                    <td><span>Detector 1</span></td>
                    <td><span>Flow Ant</span></td>
                </tr>
                <tr >
                    <td><span>Detector 2</span></td>
                    <td><span>Flow Post</span></td>
                </tr>
              </table>

              <table class="table">
                <caption class="table-caption">Scan Location</caption>
                <tr >
                    <td><span>Patient location</span></td>
                    <td><span>Feet First Spine</span></td>
                </tr>
                <tr >
                    <td><span>Body Contour</span></td>
                    <td><span>Yes</span></td>
                </tr>
                <tr >
                    <td><span>Body Part</span></td>
                    <td><span>Chest</span></td>
                </tr>
                <tr >
                    <td><span>Start at</span></td>
                    <td><span>0 deg</span></td>
                </tr>
                <tr >
                    <td><span>Table height</span></td>
                    <td><span>90.0 cm</span></td>
                </tr>
                <tr >
                    <td><span>Matrix</span></td>
                    <td><span>128*128</span></td>
                </tr>
                <tr >
                    <td><span>Mode</span></td>
                    <td><span>H</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="mt-1">
            <div  id="headingTwo"> 
                <button class="round-corner btn-block text-left collapsed" type="button" data-toggle="collapse" 
                  data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                  Corrections
                </button>
            </div>
        
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="col-sm-3 details">
                <table class="table">
                  <caption class="table-caption">Energy Session</caption>
                  <tr >
                      <td><span>Energy session</span></td>
                      <td><span>Tc99m</span></td>
                  </tr>
                  <tr >
                      <td><span>Energy range</span></td>
                      <td><span>Low</span></td>
                  </tr>
                  <tr >
                    <td><span>FE mode</span></td>
                    <td><span>normal</span></td>
                </tr>
                <tr >
                    <td><span>Selected collimator</span></td>
                    <td><span>LEHR</span></td>
                </tr>
                <tr >
                    <td><span>Energy map name</span></td>
                    <td><span>Tc99m</span></td>
                </tr>
                </table>
              </div>
            </div>
        </div>

        <div class="mt-1">
            <div  id="headingThree"> 
                <button class="round-corner btn-block text-left collapsed" type="button" data-toggle="collapse" 
                  data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                  Admin Parameters
                </button>
            </div>
        
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="col-sm-3 details">
                <table class="table">
                  <caption class="table-caption">Persistence</caption>
                  <tr >
                      <td><span>Default refresh rate</span></td>
                      <td><span>High</span></td>
                  </tr>
                </table>

                <table class="table">
                    <caption class="table-caption">Image Orientation</caption>
                    <tr >
                        <td><span>Body part</span></td>
                        <td><span>CHEST</span></td>
                    </tr>
                    <tr >
                        <td><span>Body side</span></td>
                        <td><span>Left</span></td>
                    </tr>
                    <tr >
                        <td><span>Anatomic Ref</span></td>
                        <td><span>Chest test</span></td>
                    </tr>
                  </table>
              </div>
            </div>
        </div>

        <div class="mt-1">
            <div  id="headingFour"> 
                <button class="round-corner btn-block text-left collapsed" type="button" data-toggle="collapse" 
                  data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                  Location Parameters
                </button>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="col-sm-3 details">
                <table class="table">
                    <caption class="table-caption">Scan Location</caption>
                    <tr >
                        <td><span>Patient location</span></td>
                        <td><span>Feet First Spine</span></td>
                    </tr>
                    <tr >
                        <td><span>Body Contour</span></td>
                        <td><span>Yes</span></td>
                    </tr>
                    <tr >
                        <td><span>Body Part</span></td>
                        <td><span>Chest</span></td>
                    </tr>
                    <tr >
                        <td><span>Start at</span></td>
                        <td><span>0 deg</span></td>
                    </tr>
                    <tr >
                        <td><span>Table height</span></td>
                        <td><span>90.0 cm</span></td>
                    </tr>
                    <tr >
                        <td><span>Matrix</span></td>
                        <td><span>128*128</span></td>
                    </tr>
                    <tr >
                        <td><span>Mode</span></td>
                        <td><span>H</span></td>
                    </tr>
                </table>

                <table class="table">
                    <caption class="table-caption">Table</caption>
                    <tr >
                        <td><span>Height</span></td>
                        <td><span>90.0 cm</span></td>
                    </tr>
                  </table>
              </div>
            </div>
        </div>
       
    </div>
</div>